.movieCard {
    list-style: none;
    font-size: 1.5em; 
    text-align: center;
}

.movieCard:hover{
    opacity: 0.8;
}
.movieImage{
   border-radius: 15px; 
}

@media (max-width:560px) {
    .moviesImage {
        width: 90%;
        height: auto;

    }
}